/*/////// MEDIA ///////*/

img, video, audio, iframe, form, input {
  width: 100%; /* IE */
  max-width: 100%; /* FF, Safari, Chrome */
}

/*/////// LAYOUT STYLES ///////*/
.row {
  margin-bottom: 20px;
}

/*/////// CAROUSEL STYLES ///////*/

.carousel .item img {
  height: auto;
}

.carousel .item .carousel-caption p {
  display: none;
}

@media only screen and (min-width: 768px) {
  .carousel .item img {
    height: 384px;
  }
}

@media only screen and (min-width: 992px) {
  .carousel .item img {
    height: 496px;
  }
  .carousel .item .carousel-caption p {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  .carousel .item img {
    height: 600px;
  }
}
